.add-item-modal-container{
    color: var(--white-font-color);
    min-height: 300px;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-radius: 20px;
    padding: 12px;
    justify-content: space-around;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-main-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

/* Разделительная линия между двумя блоками модалки */
/* .form-main-info-block:last-child::before{
    left: 224px;
    top: 25px;
    position: absolute;
    content: '';
    display: inline-block;
    height: 210px;
    width: 1px;
    background: linear-gradient( var(--main-bg-color) 0%, rgba(95, 95, 95, 0.4) 20%, rgb(95, 95, 95, 0.4) 80%, var(--main-bg-color) 100%);
} */

/* Основные инпуты формы */
.form-item{

}

.form-item__input{
    width: 200px;
    height: 30px;
    border-radius: 20px;
    background-color: var(--second-bg-color);
    border: none;
    color: var(--white-font-color);
    text-align: center;
}

.form-item__input::placeholder{
    color: var(--blocked-font-color);
    text-align: center;
}

.form-item__input option {
    color:  var(--main-font) ;
}

.form-item__input_date::placeholder{
    background-color: #fff;
}

/* Кнопки Расходы/Доходы */
.button {
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    transition: 0.3s;
}

.form-item_buttons{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.form-button{
    border: 1px solid white;
    transition: 0.3s;
    color: var(--white-font-color);
    border-radius: 20px;
    height: 30px;
    width: 90px;
    text-align: center;
    font-weight: 500;
    font-family: var(--main-font);
}

.form-button_expenses{

}

.form-button_active-expenses{
    background-color: var(--expenses-color);
}

.form-button_expenses:hover{
    background-color: var(--expenses-color);
    box-shadow:var(--expenses-color) 0px 0px 5px, 
    var(--expenses-color) 0px 0px 1px,
    var(--expenses-color) 0px 0px 2px,
    var(--expenses-color) 0px 0px 3px,
    var(--expenses-color) 0px 0px 8px,
    var(--expenses-color) 0px 0px 12px,
    var(--expenses-color) 0px 0px 18px,
    var(--expenses-color) 0px 0px 25px;
}

.form-button_expenses:focus, .form-button_expenses_active{
    background-color: var(--expenses-color);
    border: none;
}

.form-button_revenue{

}

.form-button_active-revenue{
    background-color: var(--revenue-color);
}

.form-button_revenue:hover{
    background-color: var(--revenue-color);
    box-shadow:var(--revenue-color) 0px 0px 5px, 
    var(--revenue-color) 0px 0px 1px,
    var(--revenue-color) 0px 0px 2px,
    var(--revenue-color) 0px 0px 3px,
    var(--revenue-color) 0px 0px 8px,
    var(--revenue-color) 0px 0px 12px,
    var(--revenue-color) 0px 0px 18px,
    var(--revenue-color) 0px 0px 25px;
}

.form-button_revenue:focus, .form-button_revenue_active{
    background-color: var(--revenue-color);
    border: none;
}

/* Описание */
.form-main-description{
    height: 85px;
    transition: 0.3s;
}

.form-main-description__textarea{
    resize: none;
    height: 100%;
    border: 1px solid;
    border-radius: 20px;
    padding: 15px;
}

.form-main-description__textarea::-webkit-scrollbar {
    display: none;
}


/* Нижний кнопочный блок */
.add-item-modal-buttons{
    display: flex;
    justify-content: space-between;
    min-width: 200px;
}

.add-item-modal-buttons__button{
    border: 1px solid white;
    color: var(--white-font-color);
    border-radius: 20px;
    height: 40px;
    min-width: 90px;
    text-align: center;
    font-weight: 500;
    font-family: var(--main-font);
}

.add-item-modal-buttons__button_add{
    background-color: #fff;
    color: var(--black-font-color);
}

.add-item-modal-buttons__button_cancel{

}

.add-item-modal-buttons__button_add-category{
    height: 30px;
    min-width: 30px;
}

.add-item-modal-buttons__button_add:hover, .add-item-modal-buttons__button:focus{
    background-color: #558abb;
    color: var(--white-font-color);
}

.add-item-modal-buttons__button_cancel:hover, 
.add-item-modal-buttons__button_cancel:focus, 
.add-item-modal-buttons__button_add-category:hover,
.add-item-modal-buttons__button_add-category:focus{
    background-color: #fff;
    color: #000;
}