.add-item-modal-container{
    color: var(--main-font-color);
    width: 450px;
    height: 300px;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    border-radius: 20px;
    padding: 15px;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
}

.form-item{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.form-item__input{
    width: 200px;
    height: 30px;
    border-radius: 20px;
    background-color: var(--second-bg-color);
    border: none;
    color: var(--main-font-color);
    text-align: center;
}

.form-item__input::placeholder{
    color: var(--blocked-font-color);
    text-align: center;
}

.form-item__input option {
    color:  aqua ;
}

.toggle{
    
}

.btn{

}