*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
  color: var(--white-font-color);
  background-color: var(--main-bg-color);
}

:root{
  /* Шрифты */
  --main-font: "Rubik", sans-serif;

  /* Размер шрифтов */
  --main-font-size: 32px;

  /* Цвета */
  --main-color: #000000;
  --main-bg-color: #131313;
  --second-bg-color: #1d1d1d;
  --white-bg: #fff;
  --black-bg: #000000;

  --white-font-color: #ffffff;
  --black-font-color: #000000;
  --main-font-bg-color: #558abb;
  --blocked-font-color: #7e8286;

  --revenue-color: #45b34e;
  --expenses-color: #d12b2b;
  
}


.container{
  max-width: 1200px;
  margin: 0 auto;
}